---
layout: default
---
<div class="post">
  <header class="post-header" role="presentation">
    <h1 class="post-title">
      {% if site.title == 'blank' %}
        <span class="font-weight-bold">{{ site.first_name }}</span> {{ site.middle_name }}
        {{ site.last_name }}
      {% else %}
        {{ site.title }} <span class="sbu-subtitle">at Stony Brook University</span>
      {% endif %}
    </h1>
    <img
      src="{{ '/assets/img/SBU_logo.png' | relative_url }}"
      alt="Logo"
      class="post-header-logo"
    ><br>
    <p class="desc">{{ page.subtitle }}</p>
  </header>

  <article>

    <div class="clearfix">{{ content }}</div>

    <!-- News -->
    {% if page.announcements and page.announcements.enabled %}
      <h2>
        <a href="{{ '/news/' | relative_url }}" style="color: inherit">news</a>
      </h2>
      {% include news.liquid limit=true %}
    {% endif %}

  </article>
</div>
